/* Omit Tailwind Preflight to prevent UI breakage in existing vanilla code before React integration*/

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --animate-shake: shake 0.4s cubic-bezier(.36, .07, .19, .97) both;
  --animate-soft-pulse: soft-pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-border-pulse: border-pulse 1.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes shake {
    0%, 100% { transform: scale(1); }
    10%, 90% { transform: translate3d(-1px, 0, 0) scale(0.96); }
    20%, 80% { transform: translate3d(2px, 0, 0) scale(0.96); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0) scale(0.96); }
    40%, 60% { transform: translate3d(4px, 0, 0) scale(0.96); }
  }
  @keyframes soft-pulse {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.85; transform: scale(0.93); }
  }
  @keyframes border-pulse {
    0%, 100% { border-color: #bb57fed7; }
    50% { border-color: #e557fed7; }
  }
}